* {
  margin: unset;
}

dialog {
  margin: revert;
}

#root {
  display: grid;
  height: 100dvh;
  grid-template-rows: 1fr auto auto;
}

header,
nav {
  padding: 0.4em;
  background-color: slategray;
}

main {
  background-color: lightblue;
}

nav {
  display: flex;
  gap: 1em;
  align-content: space-between;
}
.overlay {
  background-color: #f5f5f5;
  padding: 0.5em;
  translate: -50% calc(-100% - 5px);
}
